/* 

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800,600|DM+Sans:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.homepage-owner-s-view {
  align-items: flex-start;
  background-color: var(--black-haze);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.overlap-group2 {
  height: 1186px;
  margin-top: -10px;
  position: relative;
  width: 1481px;
}

.small-profile {
  align-items: flex-end;
  display: flex;
  gap: 2065px;
  height: 183px;
  left: 1170px;
  min-width: 311px;
  position: absolute;
  top: 0;
}

.logout {
  height: 20px;
  margin-bottom: -328.07px;
  margin-left: -2052px;
  width: 21px;
}

.overlap-group {
  height: 173px;
  position: relative;
  width: 236px;
}

.profile-photo {
  height: 173px;
  left: 67px;
  position: absolute;
  top: 0;
  width: 169px;
}

.chatty-kats {
  height: 22px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 122px;
}

.chattykat-homepage {
  background-color: var(--white);
  border-radius: 10px;
  height: 403px;
  left: 250px;
  position: absolute;
  top: 104px;
  width: 1151px;
}

.chattykat-homepage-1 {
  height: 280px;
  left: 250px;
  position: absolute;
  top: 104px;
  width: 1151px;
}

.overlap-group1 {
  height: 448px;
  left: 121px;
  position: absolute;
  top: 209px;
  width: 583px;
}

.uiux-designer {
  left: 333px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
  top: 232px;
  width: 119px;
}

.chatty-kats-1 {
  left: 332px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 193px;
  width: 251px;
}

.img-bg {
  height: 448px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.menu {
  align-items: flex-start;
  background-color: var(--clairvoyant);
  display: flex;
  flex-direction: column;
  gap: 31px;
  left: 0;
  min-height: 1186px;
  padding: 193px 39px;
  position: absolute;
  top: 0;
  width: 218px;
}

.home {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 22px;
  margin-left: 2px;
  min-width: 82px;
}

.icon-home {
  height: 17px;
  margin-top: 1px;
  width: 20px;
}

.place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  opacity: 0.7;
}

.profile {
  align-items: center;
  display: flex;
  gap: 14px;
  min-width: 88px;
}

.icon-user {
  height: 24px;
  width: 24px;
}

.profile-1 {
  color: 
#d9d9d9;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 48px;
}

.rectangle-292 {
  background-color: var(--white);
  border-radius: 10px;
  height: 483px;
  left: 408px;
  position: absolute;
  top: 522px;
  width: 854px;
}

.title {
  color: var(--violet-eggplant);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  left: 424px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 544px;
  white-space: nowrap;
  width: 177px;
}

.line-3 {
  height: 1px;
  left: 408px;
  position: absolute;
  top: 592px;
  width: 848px;
}

.about-us-welcome-to {
  left: 466px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 613px;
  width: 732px;
}

.group-7 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  height: 21px;
  left: 1216px;
  min-width: 111px;
  position: absolute;
  top: 61px;
}

.logout-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  min-width: 51px;
}

.line {
  height: 19px;
  width: 18px;
}

 */
