
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800,600|DM+Sans:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.homepage-owner-s-view {
  align-items: flex-start;
  background-color: var(--black-haze);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.overlap-group20 {
  height: 1186px;
  margin-top: -10px;
  position: relative;
  width: 1481px;
}

.small-profile1 {
  align-items: flex-end;
  display: flex;
  gap: 2065px;
  height: 183px;
  left: 1170px;
  min-width: 311px;
  position: absolute;
  top: 0;
}

.logout1 {
  height: 20px;
  margin-bottom: -328.07px;
  margin-left: -2052px;
  width: 21px;
}

.overlap-groupA {
    background-color: var(--white);
    border-radius: 20px;
    height: 20px;
    margin-top: 50px;
    position: relative;
    width: 100px;
    center: auto;
    left: 2000px;
    margin: auto;

}

.profile-photoA {
  height: 173px;
  left: 67px;
  position: absolute;
  top: 0;
  width: 169px;
}

.chatty-kats {
  height: 22px;
  left: 10px;
  position: absolute;
  top: 23px;
  width: 122px;
}

.chattykat-homepage-1 {
  margin-left: 400px;
  background-color: #31e7dc;
  text-align: right;
}

.overlap-groupZ {
  height: 448px;
  left: 121px;
  position: absolute;
  top: 209px;
  width: 583px;
}

.uiux-designernunito-normal-violet-eggplant-16px {
  left: 333px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.3;
  position: absolute;
  top: 232px;
  width: 119px;
}

.chatty-kats-1nunito-bold-violet-eggplant-30px {
  width: 500px;
    height: 500px;
    margin: 500px;
    font-family: Nunito;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #a303a0;
}


.img-big {
  margin: 500px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.menu1 {
  align-items: flex-start;
  background-color: var(--clairvoyant);
  display: flex;
  flex-direction: column;
  gap: 31px;
  left: 0;
  min-height: 1186px;
  padding: 193px 39px;
  position: absolute;
  top: 0;
  width: 218px;
}

.home1 {
  width: 20px;
  height: 17px;
  flex-grow: 0;
  margin: 0 0 0 16px;
  opacity: 0.7;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fbb03b;
  margin-top: 1px;
 
}


.icon-home1 {
  height: 17px;
  margin-top: 1px;
  width: 20px;
}

.placenunito-semi-bold-yellow-orange-16px{
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  opacity: 0.7;
}

.profile1 {
  align-items: center;
  display: flex;
  gap: 14px;
  min-width: 88px;
}

.icon-user {
  height: 24px;
  width: 24px;
}

.profile-10 {
  color: 
#d9d9d9;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 48px;
}

.rectangle-292 {
  background-color: var(--white);
  border-radius: 10px;
  height: 483px;
  left: 408px;
  position: absolute;
  top: 522px;
  width: 854px;
}

.titleZ {
  color: var(--violet-eggplant);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  left: 424px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 544px;
  white-space: nowrap;
  width: 177px;
}

.line-30 {
  height: 1px;
  left: 408px;
  position: absolute;
  top: 592px;
  width: 848px;
}

.about-us-welcome-todmsans-normal-black-16px {
  left: 466px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 613px;
  width: 732px;
}

.group-70 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  height: 21px;
  left: 1216px;
  min-width: 111px;
  position: absolute;
  top: 61px;
}

.logout-1dmsans-normal-black-16px {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  min-width: 51px;
}

.lineC {
  height: 19px;
  width: 18px;
}