.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(60deg, #0a6046f1, #7f1b2c 50%, #1c1a87);
  
}
.logo-div{
  display: flex;
  flex-direction: column;
  position:relative;
  width: 50%;
  align-self: left;
}

.auth-form-container, .login-form, .signin-form{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
  align-content: center;
  position:relative;
  

}

.auth-form-container{
  position: relative;
  padding: 5rem;
  border: 3.5px solid rgb(194, 214, 201);
  border-radius: 20px;
  width: 70%;
}
label{
  text-align: left;
  padding: .5rem;

}
input{
  margin: .5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 20px;
}
button {
  border: none;
  background-color: lightblue;
  color: black;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.link-btn{
  background: rgb(237, 234, 234);
  color: black;
  text-decoration: underline;
  padding: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}
 /* this is the css for the page! will be working on it from here down*/
/* 
 .Profile-page---Owners-View {
  width: 1440px;
  height: 1186px;
  flex-grow: 0;
  background-color: #f7f7f8;
} */


/* new css*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800,600");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.profile-page-owner-s-view {
  align-items: flex-start;
  background-color: #f7f7f8;
  border: 1px none;
  display: flex;
  gap: 32px;
  overflow: hidden;
  width: 1440px;
}

.menu {
  align-items: flex-start;
  display: flex;
  margin-left: -4px;
  min-width: 222px;
}

.overlap-group3 {
  height: 1186px;
  position: relative;
  width: 222px;
}

.bg {
  background-color: var(--clairvoyant);
  height: 1186px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 218px;
}

.menu-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 131px;
  position: absolute;
  top: 193px;
  width: 154px;
}

.home {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 16px;
  height: 22px;
  margin-left: 18.0px;
  min-width: 82px;
}

.icon-home {
  height: 17px;
  margin-top: 1px;
  width: 20px;
}

.place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  opacity: 0.7;
}

.overlap-group {
  height: 48px;
  margin-top: 19px;
  position: relative;
  width: 129px;
}

.profile {
  color: var(--yellow-orange);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.rectangle-289 {
  background: linear-gradient(180deg, rgb(251, 176, 59) 53.65%, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px 5px 5px 0px;
  height: 48px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 82px;
}

.person {
  height: 24px;
  left: 43px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.message {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 14px;
  margin-right: -2px;
  margin-top: 18px;
  min-width: 113px;
}

.iconly-bold-ticket,
.icon-user,
.cake {
  height: 24px;
  width: 24px;
}

.messages {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 73px;
  opacity: 0.7;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 1183px;
  width: 1215px;
}

.small-profile {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  gap: 629px;
  min-width: 214px;
}

.logout {
  height: 20px;
  margin-bottom: -434.34px;
  margin-left: -650px;
  width: 21px;
}

.overlap-group1 {
  height: 60px;
  margin-bottom: 0;
  position: relative;
  width: 150px;
}

.overlap-group-1 {
  height: 60px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 60px;
}

.rectangle-114 {
  height: 52px;
  left: 2px;
  position: absolute;
  top: 7px;
  width: 55px;
}

.ellipse-58 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 0;
  min-height: 30px;
  padding: 3.1px 0.6px;
  position: absolute;
  top: 20px;
  width: 96px;
}

.creative-clicks {
  height: 9px;
  width: 81px;
}

.log-out {
  height: 9px;
  margin-left: 10.79px;
  width: 33px;
}

.overlap-group6 {
  background-color: var(--white);
  border-radius: 10px;
  height: 403px;
  margin-top: 26px;
  position: relative;
  width: 1151px;
}

.creative-clicks-logo {
  height: 280px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1151px;
}

.overlap-group2 {
  height: 237px;
  left: 56px;
  position: absolute;
  top: 133px;
  width: 398px;
}

.uiux-designer {
  color: var(--violet-eggplant);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
  top: 214px;
  width: 113px;
}

.title {
  color: var(--violet-eggplant);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 159px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 175px;
  width: 239px;
}

.img-bg {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 180px;
  justify-content: flex-end;
  left: 0;
  min-width: 180px;
  position: absolute;
  top: 0;
}

.img {
  background-size: 100% 100%;
  height: 180px;
  width: 180px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 29px;
  height: 664px;
  margin-top: 30px;
  min-width: 865px;
}

.overlap-group7 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 399px;
  padding: 39px 2px;
  width: 260px;
}

.about {
  align-self: flex-start;
  color: var(--violet-eggplant);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 24px;
  min-height: 20px;
  white-space: nowrap;
}

.about-me {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 7px;
  margin-left: 7.0px;
  margin-top: 28px;
  min-width: 223px;
}

.male {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2px;
  min-height: 15px;
  opacity: 0.7;
  white-space: nowrap;
}

.overlap-group5 {
  height: 55px;
  margin-top: 16px;
  position: relative;
  width: 235px;
}

.line {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 54px;
  left: 3px;
  min-height: 55px;
  position: absolute;
  top: 0;
  width: 232px;
}

.line-2 {
  height: 1px;
  margin-top: -1px;
  width: 231px;
}

.line-3 {
  height: 1px;
  margin-left: 1px;
  width: 231px;
}

.birth {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 24px;
  left: 0;
  min-width: 175px;
  position: absolute;
  top: 16px;
}

.born-june-3-2023 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 15px;
  opacity: 0.7;
  white-space: nowrap;
  width: 145px;
}

.location {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 13px;
  height: 21px;
  margin-right: 14.0px;
  margin-top: 20px;
  min-width: 194px;
}

.location-1 {
  align-self: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647a8659bf8eb1cccd628690/releases/647a875c7163986472f1aca2/img/location.svg);
  background-size: 100% 100%;
  height: 17px;
  width: 14px;
}

.san-diego-state {
  letter-spacing: 0;
  line-height: normal;
  min-height: 17px;
  opacity: 0.7;
  white-space: nowrap;
}

.creative-clickscccom {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 8px;
  margin-top: 47px;
  min-height: 15px;
  opacity: 0.7;
  white-space: nowrap;
  width: 197px;
}

.line-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647a8659bf8eb1cccd628690/releases/647a875c7163986472f1aca2/img/line-2.svg);
  background-size: 100% 100%;
  height: 1px;
  margin-right: 1px;
  margin-top: 22px;
  width: 231px;
}

.phone-number {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  gap: 11px;
  height: 18px;
  margin-left: 24px;
  margin-top: 20px;
  min-width: 157px;
}

.icon-call {
  height: 16px;
  width: 16px;
}

.phone {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  opacity: 0.7;
  white-space: nowrap;
  width: 130px;
}

.overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  min-height: 664px;
  padding: 40px 0;
  width: 574px;
}

.posts {
  color: var(--violet-eggplant);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xl2);
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 47px;
  min-height: 33px;
  width: 177px;
}

.line-3-1 {
  height: 1px;
  width: 574px;
}


